* {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 70px;
}
h3 {
  font-size: 45px;
}
.intro {
  background-image: url(./images/cow-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.header {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 0 200px;
}
.header-text {
  padding: 50px 0;
}
.donate-btn {
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
  color: white;
  background-color: #ef233c;
}
.video-section,
.help-section {
  padding: 200px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img {
  height: 600px;
}
.content-text {
  padding: 25px 0;
}
.second-content-text {
  padding: 0 0 50px 0;
}
.survive-section {
  padding: 0 200px;
}
.survive-section-text {
  padding: 25px 0 50px 0;
}
.help-heading {
  text-align: center;
}
.help-text {
  padding: 20px 0 50px 0;
}
.icon {
  height: 100px;
}
.help-div {
  background-color: #ef233b15;
  margin: 15px;
  padding: 50px;
  border-radius: 10px;
  align-items: flex-start;
}
.help-div > img {
  padding: 15px;
}
.help-div h3 {
  padding-bottom: 20px;
  padding-top: 10px;
}
